@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.black-grad{
    background: linear-gradient(219deg, rgba(71,71,71,1) 4.14%, rgba(0,0,0,1) 44.22%);
}

.blue-grad{
    background: linear-gradient(90deg, rgba(96,187,238,1) 0%, rgba(10,114,173,1) 100%);;
}

.blue-grad-2{
    background: linear-gradient(90deg, rgba(96,187,238,1) 0%, rgba(7,117,180,1) 30%, rgba(0,55,86,1) 99%);
}



    